@model EFS_23298_23327.ViewModel.LoginViewModel
@{
    ViewData["Title"] = "Enviar confirmação de email";
}

<h1>@ViewData["Title"]</h1>
<h4 class="mt-5">Insira o ser username</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ResendEmailConfirmation">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Username" class="form-label"></label>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Enviar email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
