@model EFS_23298_23327.ViewModel.LoginViewModel
@{
    ViewData["Title"] = "Reset password";
}

<h1>Esqueceu-se da sua password?</h1>
<h4 class="mt-5">Insira o seu username</h4>
<hr />
@if (TempData["ResetPasswordSucc"] != null) {
    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
        @TempData["ResetPasswordSucc"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (TempData["ResetPassword"] != null && TempData["ResetPasswordSucc"] != null) {
    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        @TempData["ResetPassword"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="">
    <form method="post" asp-action="ResetPassword">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating text-center align-items-center mb-3">
            <input asp-for="Username" class="form-control w-25  " autocomplete="username" aria-required="true" placeholder="utilizador123" />
            <label asp-for="Username" class="form-label"></label>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <button type="submit" class="w-25 btn btn-lg btn-primary">Reset Password</button>
    </form>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
