@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Erro!</h1>
<h2 class="text-danger">Aconteceu um erro algures!Por favor volte a tentar mais tarde</h2>



<h3>Se o erro persistir,por favor contactar os administradores dos site</h3>
<p>
   
</p>
