@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Erro ao encontrar a página.Pode não existir ou ter sido movida de sítio.</h2>



<h3>Se o erro persistir,por favor contactar os administradores dos site</h3>
<p>
   
</p>
