@model IEnumerable<EFS_23298_23306.ViewModel.TemasFotoViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="height:60px; background-color:lightskyblue;">
    <button type="button" class="btn btn-primary" style="float:left; margin:10px; background-color:lavender; color: black;">Sobre nós</button>
    <button type="button" class="btn btn-primary" style="float:left; margin:10px; background-color:lavender; color: black;" >Contactos</button>
    <button type="button" class="btn btn-primary" style="float:left; margin:10px; background-color:lavender; color: black;">Localização</button>
    <button id="signInBtn" type="button" class="btn btn-primary" style="float:right; margin:10px; background-color:lavender; color: black;">Entrar</button>
</div>
<div style="min-height:90%;max-height:90%;; background-color:lightblue">
    <div  id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @{
                int i = 0;
            }
            @foreach (var item in Model)
            {
                if (i == 0)
                {
                    <div class="carousel-item active text-center">
                        <span>Tema @item.Tema</span>
                        <img class="d-block w-100" style="max-height:600px" src="/Imagens/@item.Foto" alt="First slide" title="@item.Tema">
                </div>
                    i++;
                }
                
                else
                {
                    <div class="carousel-item text-center">
                        <span>Tema @item.Tema</span>
                        <img class="d-block w-100" style="max-height:600px" src="/Imagens/@item.Foto" alt="First slide" title="@item.Tema">
                    </div>
                }
            }
            
           
        </div>
        <button class="carousel-control-prev btn-secondary" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next btn-secondary" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>
<div>
    <button>Reservar já!</button>
    <button>Temas</button>
</div>
<div>
    
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>

    <button type="button" class="btn btn-link">Link</button>
</div>
