@model IEnumerable<EFS_23298_23327.ViewModel.TemasFotoViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-warning-emphasis m-3">
    <h1 class="text-center text-warning-emphasis">ESCAPE FROM SELLIUM</h1>
</div>
<div id="carouselHero" class="carousel slide m-4" style="min-height:550px" data-bs-ride="carousel">
    <div class="carousel-inner">           
        @foreach (var item in Model){
  
            @if (item.Foto == Model.First().Foto) {
                <div class="carousel-item active" data-bs-interval="2000">
                    <img src="/Imagens/@item.Foto" class="d-block w-100 ">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@item.Tema</h5>                      
                    </div>
                </div>
            } else {
                 <div class="carousel-item" data-bs-interval="2000">
                    <img src="/Imagens/@item.Foto" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@item.Tema</h5>
                    </div>
                 </div>                           
            }
        }
    </div>
</div>
           
<div class="m-4 mw-50">
    <div class="card border-3 border-info m-4 rounded-4">
        <h3 class="text-center text-success m-2">"Escape Room" Concept</h3>
        <p class="text-info text-center m-2">For the less familiar, an "escape room" is an entertainment activity where a group of people is locked in a themed room and must solve a series of puzzles and challenges within a set time to escape the room. The rooms are designed with immersive settings, ranging from themes like mysteries, adventures, science fiction, horror, and historical scenarios.






</p>
    </div>
</div>

