@model IEnumerable<EFS_23298_23327.ViewModel.TemasFotoViewModel>

@{
    ViewData["Title"] = "Home Page";
}


<div id="carouselHero" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-inner">
            
            @foreach (var item in Model){
            

                
                       
                            @if (item.Foto == Model.First().Foto) {
                                <div class="carousel-item active" data-bs-interval="2000">
                                    <img src="/Imagens/@item.Foto" class="d-block w-100 ">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@item.Tema</h5>
                       
                    </div>
                                </div>
                            } else {
                                <div class="carousel-item" data-bs-interval="2000">
                                    <img src="/Imagens/@item.Foto" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>@item.Tema</h5>

                    </div>
                                </div>
                            
                             }

        }
                    </div>
                </div>
           
            
           
    </div>

</div>

