@{
    ViewData["Title"] = "Privacy Policy";
}

<div id='calendar' class="bg-white"></div>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek',
            timeZone: 'UTC',
            nowIndicator:true,
            selectable: true,
            headerToolbar: {
                left: 'prev,next',
                center: 'title',
                right: 'timeGridWeek,timeGridDay'
               
            },
            dateClick: function (info) {
                $.post('/Home/Reserva', { date: info.dateStr }, function (result) {
                    console.log(result);
                });
                alert('clicked ' + info.dateStr);
            },
        });
        calendar.render();
    });

</script>