<ul class="nav nav-pills">
    <li class="nav-item">
        <a id="temas" class="nav-link text-white " asp-area="Gerir" asp-controller="Temas" asp-action="Index">Temas</a>
    </li>
    <li class="nav-item">
        <a id="salas" class="nav-link text-white" asp-area="Gerir" asp-controller="Salas" asp-action="Index">Salas</a>
    </li>
    <li class="nav-item">
        <a id="reservas" class="nav-link text-white" asp-area="Gerir" asp-controller="ReservasGerir" asp-action="Index">Reservas</a>
    </li>

    @if (User.IsInRole("Admin")) {
        <li class="nav-item">
            <a id="users" class="nav-link text-white" asp-area="Gerir" asp-controller="Utilizadores" asp-action="Index">Utilizadores</a>
        </li>
    }




</ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js" type="text/javascript"></script>

