@model EFS_23298_23306.Models.Utilizadores

@{
    ViewData["Title"] = "Details";
}

<div>
    <a class="fa fa-angles-left display-6 link-underline-opacity-0 link-secondary" title="Voltar atrás" style="float:left;text-decoration: none;" asp-action="Index"></a>

</div>
<h2 class="ms-5">Ver Utilizador <span style="color:mediumpurple"><strong>@Model.Username</strong></span> </h2>

<div>

    <br />
    <hr />
    <div class="container-fluid mt-5 justify-content-center h-100 d-inline-block">
        <div class="row">
            <div class="col">

                <div class="form-group">
                    @Html.LabelFor(m => m.Username)
                    <input disabled="true" asp-for="Username" class="form-control" />

                </div>
                <div class="form-group">
                    <label asp-for="PrimeiroNome" class="control-label"></label>
                    <input disabled="true" asp-for="PrimeiroNome" class="form-control" />

                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.UltimoNome)
                    <input disabled="true" asp-for="UltimoNome" class="form-control" />

                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input disabled="true" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NumeroTelemovel" class="control-label"></label>
                    <input disabled="true" asp-for="NumeroTelemovel" class="form-control" />
                    <span asp-validation-for="NumeroTelemovel" class="text-danger"></span>
                </div>
                
            </div>
        </div>
        <a asp-route-id="@Model?.UtilizadorID" asp-action="Edit">
            <button class="btn btn-primary position-absolute mt-lg-5"> <i class="fa fa-pencil me-2"></i>Editar Utilizador</button>
        </a>
    </div>
    <br />


</div>
