html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

#carouselHero .carousel-item img {
    object-fit: fill;
    object-position: center;
    overflow: hidden;
    height: 70vh;

    width:100vw;
}
#carouselIndex .carousel-item img {
    object-fit: fill;
    object-position: center;
    overflow: hidden;
    height: 15vh;
    width: 100vw;
}

#carouselIndex .carousel-item:before {
    object-fit: fill;
    object-position: center;
    overflow: hidden;
    height: 15vh;
    width: 100vw;
}



.modal-header-danger {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.nav-link:hover {
    color: #4BF38A !important;
}



.iconesConf:hover {
    color: #563D7C !important;
}

.shrinked {
    zoom: 0.75;
}

.fc-event-inner {
  border: 20px !important solid red;
}

footer {
    margin-top: auto;
    background-color: #6e8495;
    max-height: 120px;

    text-align: center;
    color: white;
}
.icons-index {
    font-size:1.8rem;
    margin-right:10px;
    margin-left:10px;
}
.delete:hover {
    color: #6b2c32;
}

body {
    height: 100%;
    display: flex;
    flex-flow: column;
    background-color: #e3ebf5;
}
.required::after {
    content: "*";
    font-weight: bold;
    color: red;
}
