
@{
    ViewData["Title"] = "Index";
}
<div class="container text-center mt-2">
    <h1 class="text-center mt-2">Informações</h1>
    <div class="card border-2 border-dark m-2">
        <h5 class="text-center text-info m-2">Projeto desenvolvido para a disciplina de Desenvolvimento Web do 2º ano do curso de Licenciatura em Engenharia Informática</h5>
    </div>
</div>
<h3 class="text-center mt-2">Desenvolvido por</h3>
<div class="container text-center  d-flex">
    
    <div class="card border-2 vw-100 text-info border-dark m-2">
        <h4>Hugo Gonçalves</h4>
        <h5>Aluno 23327</h5>
    </div>
    <div class="card border-2 vw-100 text-info border-dark m-2">
        <h4>Daniel Santos</h4>
        <h5>Aluno 23298</h5>
    </div>
</div>
<h3 class="text-center mt-2">Identificação das bibliotecas, frameworks e código de terceiros</h3>
<div class="container d-flex">

    <div class="card border-2 vw-100 border-dark m-2 text-info d-flex">
        <div class="container d-flex">
            <div class="container m-2">
            <ul>
                <li>
                    <h5>jquery</h5>
                </li>
                <li>
                    <h5>bootstrap</h5>
                </li>
                <li>
                    <h5>signalr</h5>
                </li> 
                <li>
                    <h5>Dynamic LINQ</h5>
                </li>
                </ul>
            </div>
            <div class="container m-2">
            <ul>
                <li>
                    <h5>jquery-ui</h5>
                </li>
                <li>
                    <h5>fancybox</h5>
                </li>
                <li>
                    <h5>index</h5>
                </li>
                </ul>
            </div>
            <div class="container m-2">
            <ul>
                <li>
                    <h5>bootstrap-multiselect</h5>
                </li>
                <li>
                    <h5>select2</h5>
                </li>
                <li>
                    <h5>moment</h5>
                </li>
                </ul>
            </div>
        </div>
        
    </div>
</div>



<div class="mt-4">
    <h1 class="text-center">Sobre nós</h1>
    <h2 class="text-warning">Bem-vindo ao Escape From Sellium!</h2>
    <p class="text-info">
        Na "Escape From Sellium", somos apaixonados por criar experiências imersivas e inesquecíveis que desafiam sua mente e despertam seu espírito aventureiro. A nossa missão é oferecer aventuras únicas que permitem a si e aos seus amigos testarem suas habilidades de resolução de problemas, colaboração e criatividade em um ambiente divertido e estimulante.
    </p>
    <h2 class="text-warning">Nossa História</h2>
        <p class="text-info">
        Fundada em 2132, a "Escape From Sellium" nasceu do amor pelo mistério e pelo desejo de trazer algo novo e excitante para a nossa comunidade. Inspirados pelas antigas lendas e histórias da cidade de Sellium, criamos vários temas que transportam os participantes para mundos diferentes, repletos de enigmas intrigantes e desafios emocionantes.
    </p>
    <h2 class="text-warning">O Que Oferecemos</h2>
    <p class="text-info">
        Os nossos temas são cuidadosamente elaborados para proporcionar uma experiência imersiva e envolvente. Cada sala tem um tema único e uma história cativante que coloca você no centro da ação. Seja desvendando os segredos de um antigo templo, escapando de uma prisão futurista ou resolvendo um mistério policial, garantimos que cada aventura será repleta de surpresas e diversão.
    </p>
    <h2 class="text-warning">Nossa Equipa</h2>
    <p class="text-info">
        A nossa equipa é composta por entusiastas de jogos, designers criativos e contadores de histórias dedicados a proporcionar a melhor experiência possível. Trabalhamos arduamente para garantir que cada detalhe dos nossos quartos de escape seja perfeito, desde os enigmas e quebra-cabeças até a ambientação e os adereços.
    </p>
    <h2 class="text-warning">Por Que Escolher a "Escape From Sellium"?</h2>
    <p class="text-info">
        Desafios Únicos: Os nossos temas são projetados para serem desafiadores e gratificantes, oferecendo enigmas complexos que exigem pensamento crítico e trabalho em equipe.
    <br />
        Ambientes Imersivos: Cada sala é meticulosamente decorada para criar uma atmosfera autêntica e envolvente.
    <br />
        Diversão Para Todos: Nossos jogos são adequados para jogadores de todas as idades e níveis de habilidade, tornando-se uma atividade perfeita para amigos, famílias e colegas de trabalho.
    </p>
    <h2 class="text-warning">Junte-se à Aventura</h2>
    <p class="text-info">
        Estamos ansiosos para receber você no "Escape From Sellium"! Venha descobrir se você tem o que é preciso para escapar dos nossos desafiadores quartos. Reserve sua aventura hoje e prepare-se para uma experiência inesquecível.
    </p>
</div>