
@{
    ViewData["Title"] = "Index";
}
<div class="container text-center mt-2">
    <h1 class="text-center mt-2">What is this website?</h1>
    <div class="card border-2 border-dark m-2">
        <h5 class="text-center text-info m-2">This website is designed to showcase a potential web application for managing an escape room<br />
        Administrators or managers can create themes for a escape room,and assign them to rooms.Clients can perform reservations,and manage their own.    
        </h5>
    </div>
</div>
<h3 class="text-center mt-2">Created by</h3>
<div class="container text-center  d-flex">
    
    <div class="card border-2 vw-100 text-warning border-dark m-2">
        <h4>Hugo Gonçalves <a href="https://github.com/hgoncal2" target="_blank" class="text-decoration-none text-secondary"><i class="bi bi-github ms-3"></i></a> <a href="https://www.linkedin.com/in/hugo-d-goncalves/" target="_blank" class="text-decoration-none text-secondary"><i class="ms-3 bi bi-linkedin"></i></a></h4>
       
        <div class="card border-2 w-90 text-light border-light m-2 mt-4">
            <h4>About me</h4>
            <hr class=" border-secondary"/>
            <div class="text-white">
            <h5>
                Computer Engineering Graduate | IT Technician | Full Stack Developer | Networking Enthusiast</h5>



            <h6> 🔹 Graduated in Computer Engineering from Instituto Politécnico de Tomar.</h6>

            <h6>🔹 Professional experience as an IT Technician at Hanon Systems, focusing on managing and improving IT infrastructures.</h6>

            <h6>  🔹 Hands-on experience in Full Stack Web Development with Java (PrimeFaces, JSF), React, and .NET.</h6>

            <h6>  🔹 Strong skills in Python, SQL, networking, and system administration.</h6>

            <h6>  🔹 Problem-solver and team player, always eager to learn and take on new challenges.</h6>
                <hr class=" border-secondary" />
                <h4 class="text-light">Contact info</h4>
                <hr class=" border-secondary" />
                <div class="text-white">
                    For business inquiries or to request an administrator account with access to additional features of the application,<br/> please contact me at <span class='text-warning'>hhugo349@gmail.com</span>, or through Linkedin.

                </div>
               
            </div>
        </div>

    </div>
   
</div>
<h3 class="text-center mt-2">Libraries/frameworks used</h3>
<div class="container d-flex">

    <div class="card border-2 vw-100 border-dark m-2 text-info d-flex">
        <div class="container d-flex">
            <div class="container m-2">
            <ul>
                <li>
                    <h5>jquery</h5>
                </li>
                <li>
                    <h5>bootstrap</h5>
                </li>
                <li>
                    <h5>signalr</h5>
                </li> 
                <li>
                    <h5>Dynamic LINQ</h5>
                </li>
                </ul>
            </div>
            <div class="container m-2">
            <ul>
                <li>
                    <h5>jquery-ui</h5>
                </li>
                <li>
                    <h5>fancybox</h5>
                </li>
                <li>
                    <h5 class="text-warning">ASP.NET Core w/ Razor Pages (Backend/Frontend)</h5>
                </li>
                    <li>
                        <h5 class="text-warning">SQL Server (Database)</h5>
                    </li>
                    
                    <li>
                        <h5 class="text-warning">Entity Framework Core</h5>
                    </li>
                </ul>
            </div>
            <div class="container m-2">
            <ul>
                <li>
                    <h5>bootstrap-multiselect</h5>
                </li>
                <li>
                    <h5>select2</h5>
                </li>
                <li>
                    <h5>moment</h5>
                </li>
                </ul>
            </div>
        </div>
        
    </div>
</div>



